@CHARSET "UTF-8";

form {
	margin-left: 1em;
}

#map {
	height: 90%;
	margin-top: 10%;
}

main {
	width: 60%;
	padding-right: 0.5em;
}

aside {
	position: fixed;
	right: 0;
	top: 6em;
	width: 40%;
	height: 60%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

section p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}