@CHARSET "UTF-8";

#map {
	height: 80%;
	width: 48%;
	position: fixed;
}

main {
	
}

aside {

}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#resultTable tbody tr.highlight {
	background-color: #d0e5f5;
}

#resultTable tbody tr td p {
	margin-top: 0;
	margin-bottom: 0;
}

.leaflet-tooltip-pane p {
	margin-top: 0;
	margin-bottom: 0;
}