<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link},~{})">
  <title>Zvg: An user friendly version</title>
  <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
  <header class="page-header text-center">
    <h1>Zwangsversteigerungstermine</h1>
  </header>
  <main class="container">
  <form action="#" class="form-horizontal" th:action="@{/search}" th:object="${searchSettings}" method="post">
    <fieldset>
      <legend>Ihre Suche</legend>
      <div class="form-group">
        <label th:for="${#ids.next('land')}" class="control-label col-sm-2">Land</label>
        <div class="col-sm-10">
          <select th:field="*{land}" class="form-control">
            <option th:each="land : ${allLands}" th:value="${land}" th:text="${land.label}">Sachsen</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label th:for="${#ids.next('city')}" class="control-label col-sm-2">Stadt</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{city}" class="form-control" placeholder="Stadt" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div th:each="kind : ${allKinds}" class="checkbox-inline col-sm-5">
            <label><input type="checkbox" th:field="*{kinds}" th:value="${kind}" /><span th:text="${kind.label}" th:remove="tag">Label</span></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input class="btn btn-primary" type="submit" value="Submit" /> 
          <input class="btn btn-default" type="reset" value="Reset" />
        </div>
      </div>
    </fieldset>
  </form>
  </main>
</body>
</html>